# file: requirements.txt
pandas>=2.0.0
scikit-learn>=1.2.0
sentence-transformers>=3.0.0
neo4j>=5.0.0
networkx>=3.0
openai>=1.0.0
tqdm>=4.65.0
python-dotenv>=1.0.0
python-Levenshtein>=0.27.3
rapidfuzz>=3.5.2
seaborn>=0.12
matplotlib>=3.7
autofj
